In [45]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [46]:
#selecting the homicides cases only from the dataset
data = data.iloc[3:11]
#printing the homicides data
data

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,-,-,1,-,"2,475",192,473,104,"600,000",-
10,NaN,Sub Total(Homicides),"4,497","2,474",811,"1,212","1,779",45,3,12,...,-,-,1,-,"3,546",265,674,144,"12,100,000",-

In [47]:
#renameing the columns in the dataframe
data.columns =['No','Type','Totals Cases','Cases under Inquiry','Not Detected/NPW','Cases taken to court','Cases submitted toDPP/RSA','Cases with convictions','Cases with Acquittals','Cases Dismissed','Cases pending in Court','Male Adult','Male Juven.','Female Adult','Female Juven.','Male Adult','Male Juven.','Female Adult','Female Juven.','Acquitted','Discharged','Awaiting Trial','Male Adult','Male Juven.','Female Adult','Female Juven.','Death','Fined','Probation Bound Over','CAUTION','COMM. WORK','Fines  Awarded (UgShs.)','Male Adult','Male Juven.','Female Adult','Female Juven.','Lost','Recovered']

In [48]:
#printing the dataframe after renaming the columns
data

,No,Type,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,-,-,1,-,"2,475",192,473,104,"600,000",-
10,NaN,Sub Total(Homicides),"4,497","2,474",811,"1,212","1,779",45,3,12,...,-,-,1,-,"3,546",265,674,144,"12,100,000",-

In [49]:
#removing all the nan values from the dataframe and printing it
data = data.fillna('')
data

,No,Type,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
3,,HOMICIDES,,,,,,,,,...,,,,,,,,,,
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,-,-,1,-,"2,475",192,473,104,"600,000",-
10,,Sub Total(Homicides),"4,497","2,474",811,"1,212","1,779",45,3,12,...,-,-,1,-,"3,546",265,674,144,"12,100,000",-

In [52]:
#replacing all the empty cells with 0
data = data.replace(to_replace ="-",value =0)
data

,No,Type,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
3,,HOMICIDES,,,,,,,,,...,,,,,,,,,,
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,0,0,0,0,197,4,17,0,"11,500,000",0
5,2,Death (by mob action),636,431,109,96,176,2,0,1,...,0,0,0,0,619,11,25,1,0,0
6,3,Death (Poisoning),81,54,12,15,17,0,0,0,...,0,0,0,0,65,9,14,4,0,0
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,0,2,...,0,0,0,0,174,25,138,16,0,0
8,5,Death(Fire Out Breaks),42,25,11,6,14,0,0,0,...,0,0,0,0,16,24,7,19,0,0
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,0,0,1,0,"2,475",192,473,104,"600,000",0
10,,Sub Total(Homicides),"4,497","2,474",811,"1,212","1,779",45,3,12,...,0,0,1,0,"3,546",265,674,144,"12,100,000",0