In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [2]:
data.iloc[110:116]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
110,NaN,NARCOTICS/DRUGS,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,87,Heroin,9,-,-,9,99,-,-,-,...,-,-,-,-,-,-,-,-,-,-
112,88,Cocaine,7,1,3,3,4,1,-,-,...,-,-,-,"120,500,000",-,-,-,-,-,-
113,89,Herbal Cannabis,679,104,88,487,531,188,2,87,...,-,18,48,"250,000",508,1,36,-,-,-
114,91,Other Narcotics(general),"2,195",469,286,"1,440","1,549",597,15,225,...,-,76,276,"3,980,001","1,790",19,101,-,"850,000",-
115,NaN,Sub Total(Narcotics),"2,890",574,377,"1,939","2,183",786,17,312,...,-,94,324,"124,730,001","2,299",20,138,-,"850,000",-