In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [3]:
data.iloc[74:79]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
74,NaN,(f) Assaults,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,60,Aggravated Assault(Acid cases),4,2,-,2,2,1,-,-,...,-,-,-,-,1,-,5,-,-,-
76,61,Aggravated Assaults(general),"6,584","2,353","1,436","2,795","3,241",824,51,358,...,2,108,130,"43,120,037","4,488",133,"2,031",57,"625,000",-
77,62,Common Assaults,"29,735","12,442","11,835","5,458","8,100","1,678",127,801,...,9,234,489,"26,130,514","17,235",775,"10,176",297,-,-
78,NaN,Sub Total(Assaults),"36,323","14,797","13,271","8,255","11,343","2,503",178,"1,159",...,11,342,619,"69,250,551","21,724",908,"12,212",354,"625,000",-