In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [2]:
data.iloc[24:32]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
24,NaN,GENERAL CRIMES,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,(a) Sex Related Offences,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,20,Rape,"1,580",618,318,644,798,16,1,7,...,1,-,1,-,NaN,NaN,"1,485",NaN,"4,016","4,000"
27,21,Defilement,"15,366","6,166","3,615","5,585","8,179",840,46,429,...,-,191,132,"27,200,000",-,228,NaN,"15,366",-,-
28,22,Indecent Assault,396,118,114,164,199,54,3,22,...,-,5,6,-,2,8,293,93,-,-
29,23,Incest,79,29,34,16,21,5,-,5,...,-,-,-,-,34,1,57,10,-,-
30,24,Unnatural Offences,100,30,25,45,59,5,-,10,...,-,1,-,-,51,40,15,-,-,-
31,NaN,Sub Total(Sex Related),"17,521","6,961","4,106","6,454","9,256",920,50,473,...,1,197,139,"27,200,000",87,277,"1,849","15,469","4,016","4,000"