In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [2]:
data.iloc[66:74]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
66,NaN,(e) Robberies,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,54,Aggravated Robbery(Motor Cycles),481,313,66,102,196,6,2,2,...,-,-,-,"2,200,000",451,1,26,-,"1,629,342,000","255,261,000"
68,55,Aggravated Robbery(Motor Vehicles),98,60,30,8,30,-,-,-,...,-,-,-,-,89,-,9,-,"1,307,152,450","271,330,000"
69,56,Aggravated Robbery(Cash),390,231,58,101,161,1,2,4,...,-,-,-,-,326,2,74,-,"8,136,488,540","247,191,000"
70,57,Aggravated Robbery(general),"1,212",630,206,376,581,17,1,13,...,-,-,4,"200,000","1,013",3,208,1,"6,053,008,099","943,451,000"
71,58,Cattle Rustling,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,59,Simple Robbery(general),"5,173","2,166","1,475","1,532","2,170",309,14,251,...,1,44,48,"10,846,000","3,941",42,"1,165",3,"8,266,203,900","953,609,800"
73,NaN,Sub Total(Robberies),"7,354","3,400","1,835","2,119","3,138",333,19,270,...,1,44,52,"13,246,000","5,821",48,"1,482",4,"25,392,194,989","2,670,842,800"